<div *ngIf="isLoginForm" class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-header text-black">
          <h5 class="mb-0">Login</h5>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onLoginSubmit()" class="text-center">
            <div class="form-group">
              <input
                type="email"
                class="form-control border-top-0 border-start-0 border-end-0 rounded-0"
                id="email"
                [(ngModel)]="loginForm.email"
                name="email"
                required
                placeholder="Enter your email"
              />
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control border-top-0 border-start-0 border-end-0 rounded-0"
                id="password"
                [(ngModel)]="loginForm.password"
                name="password"
                required
                placeholder="Enter your password"
              />
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>
        </div>
        <div class="card-footer text-center">
          <button (click)="toggleForm()" class="btn btn-link">
            Switch to Sign Up
          </button>
          <a href="#" class="btn btn-link">Forgot Password?</a>
        </div>
      </div>
    </div>
  </div>
</div>
